*{
    font-family: sans-serif;
    color: #ff0;
    background-color: #f77;
}
body{
    font-size: 40px;
}
ul, ol{
    padding:0;
}
li{
    margin-left: 60px;
}
.tag{
    border: solid 4px;
    margin: 5px;
}