body{
    background-color: #111;
}
.topzera{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
/* Vertical */
.vertical{
    position: absolute;
    
    height: 100%;
    width: 250px;
    background-color: #FFF;
}
/* Vertical END */
/* Horizontal */
.horizontal{
    position: absolute;
    display: inline-flex;
    height: 56px;
    width: 100%;
    background-color: #222;
    padding: 0 15px;
    border-bottom: solid 2px #333;
}
.menuHamburguer{
    position: relative;
    display: flex;
    width: 15px;
    margin-right: 30px;
    margin-left: 15px;
    flex-direction: column;
    align-self: center;
}
.menuHamburguer:hover{
    cursor: pointer;
}
.menuHbg{
    align-self: center;
    position: relative;
    display: flex;
    width: 15px;
    height: 1px;
    background-color: #999;
}
.menuHbg:nth-child(2){
    margin: 4px 0;
}
.menuHbg::before{
    display: inline-block;
    position: absolute;
    background-color: #999;
    width: 20px;
    height: 1px;
    transform: translateY(-5px);
}
.horizontal a{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.horizontal a img{
    width: 100px;
}
.search{
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 50px;
    height: 25px;
    width: 100%;
    background-color: #111;
    border: solid 1px #333;
    padding: 2px 0px 2px 0;
}
.search:focus-within{
    border: 1px solid rgb(0, 89, 255);
}
.search input{
    display:inline-block;
    position: relative;
    padding:0;
    margin: 0 10px 0 10px;
    height: auto;
    width: 90%;
    outline: currentColor none medium;
    border: medium none;
    background-color: transparent;
    color: #FFF;
}
.search input:active{
    border-color: #fff;
}
.searchkeyboard{
    right: 0;
    margin-right: 10px;
    color: #999;
}
.searchkeyboard:hover{
    color: #FFF;
}
.searchx{
    display: inline-block;
    position: relative;
    color: #999;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    user-select: none;
    font-size: 14px;
    margin: auto 10px auto 0;
}
.searchx:hover{
    cursor: pointer;
}
.searchbtn{
    display: flex;
    align-self: center;
    height: 25px;
    background-color: #333;
    border: solid 1px #333;
    padding: 2px 15px 2px 15px;
    color: #888;
}
/* LUPA */
.icone.lupa {
    display: flex;
    align-self: center;
    font-size: 15px;
    color: #999;
  }
.searchbtn:hover > .icone.lupa{
    color: #FFF;
  }
  /* FIM DE LUPA */
.searchbtn:hover{
    cursor: pointer;
    color: #FFF;
}
.fa-microphone{
    color: #FFF;
    margin: 0 15px;
}
.lastIconsHorizontal{
    display: flex;
    align-items: center;
    right: 0;
    width: 30%;
    justify-content: right;
    position: absolute;
    margin-right: 40px;
    align-self: center;
}
.lastIconsHorizontal *{
    display: flex;
    flex-direction: row;
    color: #fff;
    margin-right: 20px;
}
.lastIconsHorizontal *:hover{
    cursor: pointer;
}
[data-title]:hover:after {
    opacity: 1;
    transition: all 0.1s ease 0.5s;
    visibility: visible;
}
[data-title]:after {
    content: attr(data-title);
    font-family: arial, sans-serif;
    font-size: 10px;
    color: #FFF;
    position: absolute;
    padding: 10px 5px;
    border-radius: 2px;
    /* bottom: -1.6em; */
    top: 250%;
    transform: translateX(-50%);
    white-space: nowrap;
    box-shadow: 1px 1px 3px #222222;
    opacity: 0;
    visibility: hidden;
    background-color: rgba(109, 109, 109, 0.705);
    z-index: 99999;
}
[data-title] {
    position: relative;
}
.profile{
    display: flex;
    border: solid 1px #999;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    align-items: center;
    overflow: hidden;
    font-size: 10px;
}